.chapter-details-page {
    &__lesson-list {
      &__accordion {
        margin-bottom: 20px;
      }
  
      &__accordion-summary {
        background-color: #f5f5f5;
      }
  
      &__accordion-details {
        display: flex;
        flex-direction: column;
      }
  
      &__text-field {
        margin-bottom: 15px;
      }
  
      &__save-btn {
        margin-top: 10px!important;
        align-self: flex-start;
      }
    }
  }
  