.questions-list {
  list-style-type: none;
  padding: 0;

  .question-item {
    margin: 10px 0;
    padding: 15px;

    border-radius: 5px;
    background-color: #fff;

    .question-header {
      display: flex;
      justify-content: space-between;
      .question-content {
        font-size: 1rem;
        font-weight: bold;
      }
      .question-flag-button {
        font-size: small;
        span {
          display: none;
        }
        &:hover {
          span {
            font-size: small;
            display: block;
          }
          background-color: inherit;
        }
      }
    }

    .question-images {
      margin-top: 10px;

      .question-image {
        max-width: 100%;
        height: auto;
        margin-top: 10px;

        border-radius: 5px;
      }
    }

    .choice-options {
      list-style-type: none;
      padding: 0;

      .choice-option {
        margin: 5px 0;
        padding: 10px;

        border-radius: 5px;
        background-color: #fff;

        position: relative;

        .choice-input {
          position: absolute;
          opacity: 0; // Hide the default radio button
          width: 0;
          height: 0;
        }

        label {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding-left: 30px; // Add space for the custom radio button
          position: relative;

          .custom-radio {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid var(--input-border);
            background-color: #fff;
            transition: background-color 0.3s, border-color 0.3s;
          }

          .choice-input:checked + .custom-radio {
            background-color: #fff;
            &::after {
              content: "";
              display: block;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #007bff;
              margin: 3.35px;
            }
          }
        }
      }
      .remove-choice-button {
        border: none;
        background-color: inherit;
        text-decoration: underline;
        color: #007bff  ;
      }
    }

    .freetext-answers {
      .freetext-answer {
        display: flex;
        align-items: center;
        margin: 10px 0;
        padding: 10px;

        border-radius: 5px;
        background-color: #fff;

        .freetext-label {
          font-size: 1rem;
          margin-right: 10px;
          font-weight: bold;
        }

        .freetext-input {
          flex-grow: 1;
          padding: 10px;
          font-size: 1rem;
          border: 1px solid #ddd;
          border-radius: 5px;
        }
      }
    }
  }
}
