.exam-list {
    .no-exams {
      font-size: 1.2rem;
      color: #666;
    }
    .accordion {
        margin-top: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f9f9f9;
        box-shadow: none;
      
        &:hover {
          background-color: #f1f1f1;
        }
      
        .MuiAccordionSummary-root {
          border-bottom: 1px solid #ddd;
          background-color: #f9f9f9;
          padding: 10px 20px;
      
          .MuiAccordionSummary-content {
            margin: 0;
            display: flex;
            flex-direction: column;
          }
        }
      
        .MuiAccordionDetails-root {
          padding: 20px;
          background-color: #fff;
      
          .test-results {
            ul {
              list-style: none;
              padding: 0;
      
              li {
                margin-bottom: 10px;
                border-bottom: 1px solid #ddd;
                padding-bottom: 10px;
      
                p {
                  margin: 5px 0;
                }
              }
            }
          }
        }
      }
      
  }
  